@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Pixelify+Sans:wght@500&family=Poppins&display=swap');
* {
  font-family: Pixelify Sans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #5E638A;
}
.container {
  width: 850px;
  background: #fff;
  display: flex;
  gap: 70px;
  align-items: flex-end;
  padding: 60px 40px;
  border-radius: 10px;
}
.hangman-box img {
  max-width: 270px
}
.hangman-box h1 {
  font-size: 1.45rem;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}
.word-display {
  display: flex;
  gap: 10px;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.word-display .letter {
  width: 28px;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
  border-bottom: 3px solid black;
}
.word-display .letter.guessed {
  border-color: transparent;
  margin: -40px 0 35px;
}
.game-box h4 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 15px;
}
.game-box h4 b {
  font-weight: 600;
}
.game-box .guesses-text b {
  color: #ff0000;
}
.game-box .keyboard {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}
.keyboard button {
  color: #fff;
  background: purple;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  width: calc(100% / 9 - 5px);
}
.keyboard button:hover {
  background: rgb(235, 41, 235);
  color: rgb(143, 143, 87);
}
.content h1 {
  color: red;
  font-size: 50px;
  text-align: center;
}
.game-modal button{
  color: white;
  background-color: rgb(255, 6, 6);
  border-radius: 15px;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  height: 40px;
  width: 120px;
  border: none;
 
}
.game-modal button:hover {
  background-color: rgb(187, 109, 122);
}
.game-modal {
  display: none;
  position: fixed;
  border-radius: 30px;
  max-width: 500px;
  max-height: 400px;
  padding: 50px 50px ;
  background-color: rgba(163, 94, 94, 0.8);
  align-items: center;
  justify-content: center;
  text-align: center;
}
.game-modal img {
  max-width: 130px;
  margin-bottom: 20px;
}
.game-modal p {
  font-size: 1.15rem;
  margin: 15px 0 30px;
  font-weight: 500;
}
.game-modal p b {
  color: red;
  font-weight: 900;
  font-size: 30px;
}
@media (max-width: 782px) {
  .container {
    flex-direction: column;
    padding: 30px 15px;
    align-items: center;
  }
  .hangman-box img {
    max-width: 200px;
  }
  .hangman-box h1 {
    display: none;
  }
  .game-modal p {
    font-size: 1rem;
  }
  
}